.signUpPage{
  background-color: #0D1F2D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.signUpTitle{
  font-weight: bold;
  color: white;
  text-align: center;
}

input:focus{
  outline: none;
}

input::placeholder{
  color: white;
}

body{
  background-color: #0D1F2D;
}

.signUpForm{
  background-color: #546A7B;
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: none;
  border-radius: 10px;
}

.FormInput{
  background-color: #9EA3B0;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.FormButton{
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}